@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #000;
    color: #fff;
    scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
}