@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-blue: #60a5fa
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    text-decoration: underline;
    text-decoration-color: var(--main-blue);
    -moz-text-decoration-color: var(--main-blue);
}

html {
    background: #000;
    color: #fff;
    scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
}